<div id="<%= dom_id tracked_website %>">
  <p>
    <strong>User:</strong>
    <%= tracked_website.user_id %>
  </p>

  <p>
    <strong>Websiteurl:</strong>
    <%= tracked_website.websiteurl %>
  </p>

  <p>
    <strong>Time:</strong>
    <%= tracked_website.time %>
  </p>

</div>
