<h1>Editing tracked website</h1>

<%= render "form", tracked_website: @tracked_website %>

<br>

<div>
  <%= link_to "Show this tracked website", @tracked_website %> |
  <%= link_to "Back to tracked websites", tracked_websites_path %>
</div>
