<h1>Editing restricted website</h1>

<%= render "form", restricted_website: @restricted_website %>

<br>

<div>
  <%= link_to "Show this restricted website", @restricted_website %> |
  <%= link_to "Back to restricted websites", restricted_websites_path %>
</div>
